<div class="col-12">
    <h1 class="text-center text-success">{{ title }}</h1>
  </div>

  <div class="col-12">
      <ng-template ngFor let-user [ngForOf]="usersList">
          <button type="button" class="btn btn-primary btn-sm m-1" (click)="selectUser(user)">{{ user.name }}</button>
      </ng-template>
  </div>

  <div *ngIf="currentSelectedUserAlbum" class="col-8 offset-2 row">
      <div class="col-3" *ngFor="let thumbnail of currentSelectedUserAlbum">
          <img src="{{thumbnail.photos[0].thumbnailUrl}}" alt="{{thumbnail.title}}" class="rounded img-thumbnail">
      </div>
  </div>
